<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Communications -->
      <package
            uri="http://tfm.cesarlaso.udima.es/communications"
            class="es.udima.cesarlaso.tfm.communications.CommunicationsPackage"
            genModel="model/Communications.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CommunicationsHealth -->
      <package
            uri="http://tfm.cesarlaso.udima.es/communications/healths"
            class="es.udima.cesarlaso.tfm.communicationshealths.CommunicationshealthsPackage"
            genModel="model/CommunicationsHealth.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Events -->
      <package
            uri="http://tfm.cesarlaso.udima.es/events"
            class="es.udima.cesarlaso.tfm.events.EventsPackage"
            genModel="model/Events.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CommunicationsPrograms -->
      <package
            uri="http://tfm.cesarlaso.udima.es/communications/programs"
            class="es.udima.cesarlaso.tfm.communicationsprograms.CommunicationsprogramsPackage"
            genModel="model/CommunicationsPrograms.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CommunicationsStatus -->
      <package
            uri="http://tfm.cesarlaso.udima.es/communications/status"
            class="es.udima.cesarlaso.tfm.communicationstatus.CommunicationstatusPackage"
            genModel="model/CommunicationsStatus.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DeploymentDevices -->
      <package
            uri="http://tfm.cesarlaso.udima.es/deploymentdevices"
            class="es.udima.cesarlaso.tfm.deploymentdevices.DeploymentdevicesPackage"
            genModel="model/DeploymentDevices.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Gpios -->
      <package
            uri="http://tfm.cesarlaso.udima.es/gpios"
            class="es.udima.cesarlaso.tfm.gpios.GpiosPackage"
            genModel="model/Gpios.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GpiosActuators -->
      <package
            uri="http://tfm.cesarlaso.udima.es/gpios/actuators"
            class="es.udima.cesarlaso.tfm.gpiosactuators.GpiosactuatorsPackage"
            genModel="model/GpiosActuators.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GpiosEvents -->
      <package
            uri="http://tfm.cesarlaso.udima.es/gpios/events"
            class="es.udima.cesarlaso.tfm.gpiosevents.GpioseventsPackage"
            genModel="model/GpiosEvents.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated HealthMonitors -->
      <package
            uri="http://tfm.cesarlaso.udima.es/healthmonitors"
            class="es.udima.cesarlaso.tfm.healthmonitors.HealthmonitorsPackage"
            genModel="model/HealthMonitors.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IotProyects -->
      <package
            uri="http://tfm.cesarlaso.udima.es/iotproyects"
            class="es.udima.cesarlaso.tfm.iotproyects.IotproyectsPackage"
            genModel="model/IotProyects.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Servers -->
      <package
            uri="http://tfm.cesarlaso.udima.es/servers"
            class="es.udima.cesarlaso.tfm.servers.ServersPackage"
            genModel="model/Servers.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Timers -->
      <package
            uri="http://tfm.cesarlaso.udima.es/timers"
            class="es.udima.cesarlaso.tfm.timers.TimersPackage"
            genModel="model/Timers.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Programs -->
      <package
            uri="http://tfm.cesarlaso.udima.es/programs"
            class="es.udima.cesarlaso.tfm.programs.ProgramsPackage"
            genModel="model/Programs.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CommunicationsEvents -->
      <package
            uri="http://tfm.cesarlaso.udima.es/communications/events"
            class="es.udima.cesarlaso.tfm.communicationsevents.CommunicationseventsPackage"
            genModel="model/CommunicationsEvents.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OperatingSystemActuators -->
      <package
            uri="http://tfm.cesarlaso.udima.es/operatingsystemactuators"
            class="es.udima.cesarlaso.tfm.operatingsystemactuators.OperatingsystemactuatorsPackage"
            genModel="model/OperatingSystemActuators.genmodel"/>
   </extension>

</plugin>
